{% extends 'base.html'  %}
{% load static %}

{% block extrascripts %}
<script src="https://unpkg.com/vue/dist/vue.js"></script>
<script src="https://unpkg.com/axios@0.12.0/dist/axios.min.js"></script>
<script src="https://unpkg.com/lodash@4.13.1/lodash.min.js"></script>
{% endblock %}

{% block extracss %}
    <link rel="stylesheet" href="{% static "SenseList/css.css" %}"/>
{% endblock %}

{% block content %}
<div class="container">
{% verbatim %}
  <div class='col-md-2'>

  </div>
  <div class='col-md-8' id="app">
      <scaffold :proposal="proposal" :candidates="candidates"></scaffold>
  </div>
  <div class='col-md-2'>

  </div>
{% endverbatim %}
</div>
{% endblock %}


{% block appjs %}
  <script type="text/javascript" src="{% static "SenseList/script.js" %}"></script>
{% endblock %}

