{% extends 'base.html'  %}
{% load static %}

{% block extrascripts %}
<script src="https://unpkg.com/vue/dist/vue.js"></script>
<script src="https://unpkg.com/axios@0.12.0/dist/axios.min.js"></script>
<script src="https://unpkg.com/lodash@4.13.1/lodash.min.js"></script>
{% endblock %}

{% block content %}
<div class="container">
{% verbatim %}
  <div class='col-md-6' id='onttype'>
    <h1>Ont types</h1>
    <input v-model="name">
    <ontnode :node="node"></ontnode>
  </div>
  <div class='col-md-6' id='wordlookup'>
    <h1>Word lookup</h1>
    <input v-model='word'>
    <ontlist :elements='wnlist' label='wordnet'></ontlist>
    <ontlist :elements='lexlist' label='lexicon'></ontlist>
  </div>
{% endverbatim %}
</div>
{% endblock %}


{% block appjs %}
  <script type="text/javascript" src="{% static "OntologyViewer/script.js" %}"></script>
{% endblock %}
